body {
    background-color: rgb(197, 197, 197);
    margin-top: 1cm
}

summary:hover {
    color: rgba(200, 100, 30, 200);
    padding-top: 1mm;
}

header{
    border-style:groove;
    border-color: blueviolet;
    border-width: 0.01cm;
    border-radius: 1mm;
}

header #date {
    color: #AFE;
    text-decoration: rgb(57, 82, 16) dotted;
    text-align: center;

}

.fighter ~ *[name] {
    color: green;
    text-decoration: wavy;
}

img {
    margin: 1cm
}

audio {
    Margin:auto
}

video {

    width: 80vmax;
}
h2 + figure {
    width: 100cm
}

section > h2 {
    width: 100vw
}
span.Attendee {
    font-size:2em ;
}

li{
    padding: 1mm;
}



