body {
    background-color: rgb(197, 197, 197);
    margin-top: 1cm
}

summary:hover {
    color: rgba(200, 100, 30, 200);
    padding-top: 1mm;
    position: sticky
}

header{
    display: grid;
    grid-template-columns: 100%;
    border-style:groove;
    border-color: blueviolet;
    border-width: 0.01cm;
    border-radius: 1mm;
    position: relative;
}

header #date {
    grid-column-start: 0;
    grid-column-end: auto;
    color: #AFE;
    text-decoration: rgb(57, 82, 16) dotted;
    text-align: center;

}

.fighter ~ *[name] {
    color: green;
    text-decoration: wavy;
}

img {
    margin: 1cm;
    display: block
}

audio {
    Margin:auto;
    display: inline;
    height: 2cm
}

video {

    max-width: 100vmax;
    min-width: 50vmax;
}
h2 + figure {
    width: 100cm
}

section > h2 {
    width: 100vw
}
span.Attendee {
    font-size:2em ;
}

li{
    padding: 1mm;
}

button:hover{
    color:deeppink;
    flex-shrink: 3;
}

button:active{
    color:gold
    
}

fieldset{
    display:flex;
    flex-flow: column;
    flex-direction: column;
}
